/* import masonry from 'masonry-layout'; */


.todo- {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  margin: 0;
  padding:0px;
  background-color: lightgoldenrodyellow;

}


.posts- {
  display: grid;
  margin: auto;
   grid-template-columns: repeat(5, 1fr);
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   gap: 0.5em;
   padding: 0.5em;
   top:100px;
   
 /* grid-template-rows: repeat(5, 1fr);; 
 
  grid-auto-flow: dense;*/
  /* flex-wrap: wrap;
  gap: 1rem; */
}

.post- { 
  border: 1px solid black;
  border-radius: 1em;
  font-size: 0.8em;
  padding: 0.5em;
  top: 100px;
  /* max-width: 400px;
  border: 1px solid black;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: white;
  /* width: 100%; */
  
}
.temas- {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;

}

.tema- {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  font-weight: 600;
  background-color: rgb(235, 147, 39);
}

.navbar- {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  display: flex;
  align-items: center;
  /* background-color: blueviolet; */
  justify-content: space-around;
  margin-bottom: 3rem;
  padding: 0.5rem;
}